<div class='dashboard'>
  <h1>Welcome to your Dashboard!</h1>

  <div class='post_form'>
    <h4>Write a text</h4>
    <%= form_for @text_post do |f| %>
      <%= f.text_field :body, placeholder: 'Write your stuff here' %>
      <%= f.submit 'Post!' %>
    <% end %>

    <h4>or post an image</h4>
    <%= form_for @image_post do |f| %>
      <%= f.file_field :image %>
      <%= f.submit 'Upload!' %>
    <% end %>
  </div>

  <div class='feed'>
    <h4>Post feed</h4>
    <%= render @posts %>
  </div>
</div>
